<div class="sideBar">
    <div class="sideBarDiv"> 
        <!-- <a *ngIf="isHome" [routerLinkActive]="['active']" routerLink="/members"> -->
            <div class="box1">
                
                <span  style="color: #8c8e90; font-family: Arial; font-size: 12px; font-weight: 600;">Member Overview</span>
            </div>
        <!-- </a> -->
    </div>

    <div class="sideBarDiv">
        <!-- <a *ngIf="isHome" > -->
            <div class="box1">
                
                <span style="color: #8c8e90; font-family: Arial; font-size: 12px; font-weight: 600;">Care Team</span>
            </div>
        <!-- </a> -->
    </div>

        
        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 12px; font-weight: 600;">Person Centered Support Plan</span>
            </div>
        </a>


        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Tasks</span>
            </div>
        </a>

        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Assessments and Forms</span>
            </div>
        </a>


        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Notes</span>
            </div>
        </a>


        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Correspondence</span>
            </div>
        </a>

        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Documents</span>
            </div>
        </a>

        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Case History</span>
            </div>
        </a>

        <a *ngIf="isHome" >
            <div class="box1">
                
                <span class="navName" style="color: #8c8e90; font-family: Arial; font-size: 10px; font-weight: 600;">Authorisations</span>
            </div>
        </a>
    

<!-- 
        <a *ngIf="!isHome" routerLink="/members" (click)="gotoHome()">
            <div class="sideDiv">
                
                <span class="navName">Member Overview</span>
            </div>
        </a>
    
        <a *ngIf="isAddCase" [routerLinkActive]="['active']" routerLink="/member-create">
            <div class="sideDiv">
                
                <span class="navName" style="color: #2571bb">Add Assessment</span>
            </div>
        </a>

        <a *ngIf="!isAddCase" (click)="gotoAddCase()" routerLink="/member-create" >
            <div class="sideDiv">
                
                <span class="navName" >Add Assesment</span>
            </div>
        </a>

    <a *ngIf="isMemberList" [routerLinkActive]="['active']" routerLink="/members">
        <div class="sideDiv">
            
            <span class="navName" style="color: #2571bb">Assesment List</span>
        </div>
    </a>

    <a *ngIf="!isMemberList" (click)="gotoCaseList()" routerLink="/members">
        <div class="sideDiv">
            
            <span class="navName">Assesment List</span>
        </div>
    </a>

    <a routerLink="#">
        <div class="sideDiv">
            
            <span class="navName">FAQ</span>
        </div>
    </a>
     -->

    
  </div> 


<!-- 

  <div class="sidenav">
        <a>ssssssssssssssssssssssssssssss</a><br>
  </div>


<div class="box1">
        <a >Care Team</a><br>
</div>

<div class="box1">
        <a >Person Centered</a><br>
</div>


<a >Person Centered</a><br>
<a >Tasks</a><br>
<a>Assessments ands Forms</a><br>
<a >Notes</a><br>
<a >Correspondence</a><br>
<a >Documents</a><br>
<a>Case History</a><br>
<a>Authorisations</a> -->