<app-header></app-header>
<app-sidebar></app-sidebar>


<main style="overflow: hidden;">
    <div style="margin-left: 15%;margin-top: 10%">
        <label style="margin-left: 1.5%;margin-bottom: 1%"> Realtime updates of  Case List</label>
        <div class="clearfix"></div>
        <div class="counter card blueCard">
            <div class="card-body">
                <div class="count">
                    {{total}}
                </div>   
                <hr>
                <div class="entity">Total Case List</div>           
            </div>
        </div>

        <div class="counter card greenCard">
            <div class="card-body">
                <div class="count">
                    {{submitted}}
                </div>   
                <hr>
                <div class="entity">Approved Case List</div>
            </div>
        </div>

        <div class="counter card redCard">
            <div class="card-body">
                <div class="count">
                    {{rejected}}
                </div>   
                <hr>
                <div class="entity">Denied Case List</div>           
            </div>
        </div>

        <div class="counter card orangeCard">
            <div class="card-body">
                <div class="count">
                    {{pending}}
                </div>   
                <hr>
                <div class="entity">Pending Case List</div>            
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="graph" style="float: left;">
            <div class="graphentity">
                Case List Report
            </div>
            <div class="clearfix"></div><br>
            <canvas id="myChart" width="20" height="10" ></canvas>
        </div>

        <div class="graph">
            <div class="graphentity" *ngIf="update">
                New Updates
            </div>
            <div class="graphentity" *ngIf="!update">
                  <label style="color: #338ef3">{{updateData}}</label>   New Updates
            </div>
            <div class="clearfix"></div><br>
            <label *ngIf="update" class="noupdateLabel">No New Updates Found</label>
            <!-- <label *ngIf="!update" class="updateLabel">{{updateData}} New Updates Found</label> -->
            <div *ngIf="!update">
                    <table mat-table #table [dataSource]="dataSource">
                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
    
                          <!-- memname Column -->
                            <ng-container matColumnDef="memname">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element"><label style="color: #338ef3">{{element.memname}} </label> &nbsp; have new updates</td>
                            </ng-container>
                                                       
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/case-details/', row._id]"></tr>
    
                          </table>
            </div>
        </div>
    </div>
</main>